<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        G&G
      </a>
      <ul class="nav-list hiden">
        <li class="nav-item">
          <a class="nav-link" href="#group-history">Про гурт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#concerts-section">Концерти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#group-member-section">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts-form-section">Контакти</a>
        </li>
      </ul>

      <button type="button" class="burger-button" data-menu-open>
        <svg class="burger-button-icon" width="32" height="32">
          <use href="/img/sprite.svg#menu"></use>
        </svg>
      </button>
    </nav>

    <div class="mobile-menu" data-menu>
      <div class="mobile-menu-content">
        <button class="menu-close" data-menu-close>✕</button>

        <a class="mobile-menu-link" href="#group-history">Про гурт</a>
        <a class="mobile-menu-link" href="#concerts-section">Концерти</a>
        <a class="mobile-menu-link" href="#group-member-section">Галерея</a>
        <a class="mobile-menu-link" href="#contacts-form-section">Контакти</a>
      </div>
    </div>

  </div>
</header>