<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        G&G
      </a>
      <ul class="nav-list hiden">
        <li class="nav-item">
          <a class="nav-link" href="./page-2.html">Про гурт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#concerts-page">Концерти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-2.html">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-3.html">Контакти</a>
        </li>
      </ul>

      <button type="button" class="burger-button" data-menu-open>
        <svg class="burger-button-icon" width="32" height="32">
          <use href="/img/sprite.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>