/* ===== MOBILE MENU ===== */
.mobile-menu {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

/* контент */
.mobile-menu-content {
  background: #111827;
  padding: 40px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  text-align: center;

  transform: translateY(20px);
  transition: 0.3s;
}

.mobile-menu.active .mobile-menu-content {
  transform: translateY(0);
}

/* посилання */
.mobile-menu-content a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  transition: 0.3s;
}

.mobile-menu-content a:hover {
  color: #ff2d55;
}

/* кнопка закриття */
.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.menu-close:hover {
  color: #ff2d55;
}

/* блок скролу */
.modal-open {
  overflow: hidden;
}

/* ===== адаптив ===== */
@media (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 24px;
  }
}
