.header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  color: #e5e7eb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
}

.nav-list a {
  color: #e5e7eb;
}

.burger-button {
  background-color: inherit;
  border: none;
  outline: none;
}

.burger-button-icon {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.burger-button-icon:hover {
  color: #9ca3af;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  padding-bottom: 2px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #ff2d55;
  transition: width 0.2s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  color: #ff2d55;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }

  .burger-button {
    display: none;
  }
}
